
/* CUSTOM BACKGROUND COLORS */
/*============================================================================*/
.pomo-bg-color-dark {
    background-color: #2C1320;
}

.pomo-bg-color-md-dark {
    background-color: #5F4B66;
}

.pomo-bg-color-md {
    background-color: #56667A;
}

.pomo-bg-color-md-light {
    background-color: #8797AF;
}

.pomo-bg-color-light {
    background-color: #A7ADC6;
}
/*============================================================================*/


/* CUSTOM TEXT COLORS */
/*============================================================================*/
.pomo-text-color-dark {
    color: #2C1320;
}

.pomo-text-color-md {
    color: #56667A;
}

.pomo-text-color-light {
    color: #A7ADC6;
}
/*============================================================================*/


/* FONT MODIFIERS */
/*============================================================================*/
.pomo-font-weight-bold {
    font-weight: bold;
}
/*============================================================================*/


/* BOOTSTRAP OVERRIDES */
/*============================================================================*/
.navbar .btn:focus, .btn:active {
    color: #8797AF;
    box-shadow: none !important;
    text-decoration: underline;
}

/* Change btn color on hover */
.edit-btn-hover:hover {
    background-color: rgb(255, 0, 0);
}

.edit-btn-hover-blue:hover {
    background-color: rgb(108, 183, 253);
}
/*These three button styles will allow you to change text upon hover
see function buildButtons */
button .byebye {
    display: none;
  }
  
button:hover .membas {
    display: none;
}
  
button:hover .byebye {
    display: inline;
}

.ban-btn-expand-width {
    width: 150px;
}

#pomo-timer-toggle-button {
    box-shadow: none !important;
    text-decoration: none;
}

.pomo-btn-expand-width {
    width: 290px !important;
}

.pomo-btn-expand-width:hover {
    color: #A7ADC6 !important;
}

.navbar-nav li .dropdown-menu { 
    background-color: #5F4B66;
}

.navbar-nav li .dropdown-menu .btn:hover { 
    background-color: #8797AF;
}

.navbar .dropdown-toggle::after { 
    color: #2C1320; 
}
/*============================================================================*/

/* SIGNING IN AND OUT */
/*============================================================================*/
.modal-preauth {
    display: block;
}

.modal-postauth {
    display: none;
}

input {
    display: block;
    margin: 8px 0;
    padding: 8px 2px;
    border-width: 0 0 2px 0;
    width: 100%;
}
/*============================================================================*/


/* STYLE BY ID's / CLASSES */
/*============================================================================*/
.pomo-nav-logo {
    filter: drop-shadow(2px 2px 1px #2C1320);
}

#pomo-timer {
    position: fixed;
    bottom: 0;
    right: 5%;
    max-width: 300px;
    border-left: #2C1320;
    border-top: #2C1320;
    border-right: #2C1320;
    border-width: 3px;
    border-bottom-width: 0;
    border-style: ridge;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#play-controls {
    margin: auto;
}

.player {
    flex: 1;
    filter: drop-shadow(2px 2px 1px #2C1320);
}

.player .btn:active {
    padding-top: 2px;
}

#timer-make-setting-default-button {
    margin: 15px 0 0 15px;
    filter: drop-shadow(1px 1px 2px #2C1320);
}

#timer-minutes-display, #timer-seconds-display {
    margin: 10px 5px 0 5px; 
    background-color: white; 
    flex: 1;

    border-style: solid;
    border-width: 2px;
    border-top-width: 3px;
    border-color: #2C1320;
    border-bottom-style: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-left: 5px;
    font-weight: bold;
    color:#A7ADC6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2C1320;
    filter: drop-shadow(1px 1px 1px #2C1320);
    font-family: 'Press Start 2P', cursive;
}

.timer-hint {
    border-width: 2px;
    border-color: #2C1320;
    border-top-style: none;
    border-style: solid;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 0 5px 0 5px; 
    flex: 1;
    text-align: center;
    filter: drop-shadow(1px 1px 1px #2C1320);
    font-weight: 700;
}

.timer-modes {
    margin: 5px 5px 0 5px; 
    flex: 1;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    font-size: large;
    font-weight: 700;
    color:#2C1320;
}

#timer-interval-settings-sliders {
    margin: -15px 5px 0 5px;
}

.pomo-thumb::-webkit-slider-thumb {
    background: #8797AF;
    width: 60px;
    height: 30px;
    margin-top: -11px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #2C1320;
    outline: none !important;
    box-shadow: none !important;
}
  
.pomo-thumb::-moz-range-thumb {
    background: #8797AF;
    width: 60px;
    height: 40px;
    margin-top: -15px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #2C1320;
}
  
.pomo-thumb::-ms-thumb {
    background: #8797AF;
    width: 60px;
    height: 40px;
    margin-top: -15px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #2C1320;
}

.thumb-0-text {
    position: absolute;
    font-size: 18px;
    top: 56%;
    pointer-events: none;
    color:#2C1320;
}

.thumb-1-text {
    position: absolute;
    font-size: 18px;
    top: 70.6%;
    pointer-events: none;
    color:#2C1320;
}
/*============================================================================*/

/* STYLE FOR FLASHCARDS */
/*============================================================================*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    perspective: 1000px;
    word-wrap: break-all;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    word-wrap: break-word;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* For Safari */
    backface-visibility: hidden;

}

.flip-card-front{
    background-color: #5F4B66;
    color: #2C1320;
}

.flip-card-back{
    background-color: #5F4B66;
    color: #2C1320;
    transform: rotateY(180deg);
}

.card-text{
    text-align: center;
    color: #A7ADC6;
    overflow-wrap: break-all;
}

.answer-text{
    /* width: fit-content; */
    margin-bottom: 1em;
    overflow-wrap: break-all;
}

/* .form-control{
    width:fit-content;
    margin-bottom: 1em;
    overflow-wrap: break-word;
} */
/*============================================================================*/

/* STYLE FOR STUDY DECKS */
/*============================================================================*/
.deck-card{
    width: 18rem;
    display: inline-block;
    background-color: #5F4B66;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.deck-view-css{
    text-align: center;
    word-wrap: break-word;
}
.form-check{
    text-align: center;
    align-items: center;
    vertical-align: auto;
    float:right;
    padding-right: 90px;
}

.content-width-delete-flashcard{
    width: auto;
}

.delete-flashcard-css-class{
    padding-top: 10px;
}    

.form-edit-deck{
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 5px;
}
.form-view-deck{
    padding-right: 2px;
    padding-bottom: 5px;
}
.form-delete-deck{
    padding-left: 2px;
    padding-bottom: 5px;
}

   





/*============================================================================*/

/* STYLE FOR STUDYING FLASHCARD */
/*============================================================================*/
.study-flashcard-view{
    background-color: #2C1320;
    width: 800px;
    height: 550px;
    perspective: 1000px;
    position: absolute; /* or absolute */
    top: 50%;
    left: 50%;
    padding: 3%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.float-top-right {
    position: fixed !important;
    top: 70px !important;
    right: 20px !important;
}

.streak-container {
    opacity: 0%;
    transition: opacity 0.5s;
    transition-timing-function: cubic-bezier(0, .55, .4, .97);
}

.streak {
    color: #2C1320;
    text-shadow: 0px 0px 5px #5F4B66;
}

.streak-correct {
    color: #68e252;
    text-shadow: 0px 0px 5px #5F4B66;
}

.streak-incorrect {
    color: #fa4040;
    text-shadow: 0px 0px 5px #5F4B66;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  /*STYLES FOR POMOPET RADIO BUTTONS*/
/*============================================================================*/

/*Hides radio buttons*/
.hidden-radio-button { 
    position: static;
    opacity: 0;
    width: 0;
    height: 0;
}

/*Curser Style*/
[type=radio] + img {
      cursor: pointer;
}

/* Hover animation*/
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  color: gray;
}

/*Radio Button positioning*/
.resize {
    position: relative;
    padding: 0, 70%, 0, 70%;
}

.center-position {
    margin:0 auto;
    display:block;
}
/*============================================================================*/

  /*STYLES FOR CLASSROOM TABS*/
/*============================================================================*/
.classroom-page-tab{
    border-bottom: 1px solid #2C1320;
    padding-bottom: 55px;
}

.classroom-tab {
    background-color: #A7ADC6;
    color: #2C1320;
    float: left;
    border-bottom: #A7ADC6;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
    transition: 0.3s;
}

.classroom-tab-content{
    display: none;
    padding: 100px 20px;
    height: 100%;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect{
    from {opacity: 0;}
    to {opacity: 1;}
}


/*============================================================================*/

/*============================================================================*/

  /*STYLES FOR ONE CLASSROOM TABS*/
/*============================================================================*/

.one-classroom-tab-content{
    display: none;
    padding: 20px 20px;
    height: 100%;
    animation: fadeEffect 1s;
}

.row-classroom {
    display: flex;
}
  
.column-classroom {
    padding: 15px;
    margin: 10px;
    background-color: #9a92a6;
    border-radius: 25px;
    flex: 40%;
 
}

.row-memberInfo {
    display: flex;
}

.classroom-members-profile-btn {
    border: none;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.equipped-member-pomopet {
    padding: 10px 20px;
    position: relative;
}

/*============================================================================*/

iframe {
    width: 100%;
    height: calc(100vh - 58px);
}

#pomogame-iframe-container {
    height:  0px;
}

/*HOME SCREEN CARDS*/
/*============================================================================*/
.card-img {
    
    max-width: 30rem;
    max-height: 28rem;
    border-radius: 12px;
    padding-bottom: 2%;
}

.card-title {
    font-size: 40px;
}
/*============================================================================*/

  /*STYLES FOR SEARCH*/
/*============================================================================*/
.search-btn {
    width: 130px;    
    padding: 2px 1px 2px 1px;
    background-color: #A7ADC6;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    border-color: #2C1320;
    border-radius: 8px;
    border-style: outset;
    border-width: 2px;   
    margin-right: 40px;
    margin-top: 15px;
    position: inherit;

}

.search-btn:hover { 
    background-color: #5F4B66;
    color: #A7ADC6 !important;
}

.search-btn-reset { 
    padding: 2px 1px 4px 1px;
}

.search-btn-classroom { 
    width: 170px;  
    padding: 2px 1px 1px 1px;
}

.search-btn-decks { 
    width: 130px;  
    padding: 5px 1px 2px 1px;
}

.search-radio {
    font-size: 14px;
    display: d-flex;    
    margin: auto;
    border-radius: 8px;
    background-color: #A7ADC6;
    border-color: #2C1320;
}

.search-radio.controls {
    border-color: #2C1320;
    border-radius: 8px;
    border-style: outset;
    border-width: 2px;   
    background-color: #2C1320;
}

/*LEADERBOARD*/
/*==========================================================================*/

.leaderboard-table{
    width: 75%;
    text-align: center;
    border:1px solid black;
    
}
.leaderboard-th{
    
    text-align: center;
    border:1px solid black;
    background-color: #2C1320;
    color: #A7ADC6;
}
.leaderboard-td{
    text-align: center;
    border:1px solid black;
    background-color: #5F4B66;
    color: #A7ADC6;
}

/*==========================================================================*/

/*FAVORITE DECK ICONS & OTHER ICONS*/
/*==========================================================================*/
.favorite-deck{
    /* display: none; */
    text-align: center;
    vertical-align: middle;
}
.unfavorite-deck{
    text-align: center;
    vertical-align: middle;
}

.material-icons{
    text-align: center;
    vertical-align:middle;
    padding-right: 5px;
}


/*==========================================================================*/

/*LEADERBOARD SELECTION*/
/*==========================================================================*/
.leaderboard-selection-button-css{
    padding-top:10px;
}
.leaderboard-main-row{
    justify-content: center;
    display: flex;
    position: relative;
}
/* .leaderboard-button-category {
    position: absolute;
    right:0px;
} */

.leaderboard-th button{
    display: inline-block;
    border: none;
    text-align: center;
}
/*==========================================================================*/

/* PROFILE PAGE */
/*==========================================================================*/
.edit-profile-btn{
    padding: 10px 20px;
}

.user-profile{
    padding: 50px 20px;
    height: 100%;
    margin: auto;
    width: 50%;
    text-align: center;
}

.equipped-pomopet {
    padding: 10px 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
}

.pomopet-bar {
    border: none;
    height: 5px !important;
    width: 100%;
    background-color:#2C1320;
    color: #2C1320;
}

.pomopet-edit-name-btn {
    border: none;
    background-color: inherit;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.pomopet-edit-name-form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;  
}

.pfp {
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }

.pomopet-display {
    position: relative;
    top: 0;
    left: 0;
}

.acc-display {
    position: absolute;
    top: 48px;
    right: 48px;
}

/*==========================================================================*/

/* ANALYTICS PAGE */
/*==========================================================================*/

.analytics-header-card {
    background-color: #939dc3;
    border: 5px solid #5F4B66 !important;
}

/*==========================================================================*/

/*COIN DISPLAY BOX*/
/*==========================================================================*/
.coin-display {
    width: 85px;
    height: 35px;
    border-radius: 50px;
    background-color: #A7ADC6;
}

.coin-text {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    color: #2C1320;
    padding-right: 5%;
}
/*==========================================================================*/

/* POMOSHOP STYLE */
/*============================================================================*/
.sidenav {
    height: 100%;
    width: 285px;
    position: absolute;
    background-color: #2C1320;
    overflow-x: hidden;
    align-items: center;
}

.pomoshop-sidenav-buttons {
    padding-left: 30px;
}

.pomoshop{
    padding: 40px;
    vertical-align: middle;
}

.pomoshop-category{
    background-color: #5F4B66;
    width: 80%;
    height: 330px;
    border-radius: 25px;
    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    float: right;
    margin-bottom: 30px;
}

.pomoshop-item{
    padding: 0px 15px 5px 15px;
    vertical-align: middle;
}

.equipped-shop-pomopet {
    padding: 10px 20px;
    bottom: 45px;
    position: absolute;
}

.pomopet-shop-bar {
    border: none;
    height: 5px !important;
    width: 100%;
    background-color:#5F4B66;
    color: #5F4B66;
}