/* CUSTOM BACKGROUND COLORS */
/*============================================================================*/
.pomo-bg-color-dark {
    background-color: #2C1320;
}

.pomo-bg-color-md-dark {
    background-color: #5F4B66;
}

.pomo-bg-color-md {
    background-color: #56667A;
}

.pomo-bg-color-md-light {
    background-color: #8797AF;
}

.pomo-bg-color-light {
    background-color: #A7ADC6;
}
/*============================================================================*/


/* CUSTOM TEXT COLORS */
/*============================================================================*/
.pomo-text-color-dark {
    color: #2C1320;
}

.pomo-text-color-md {
    color: #56667A;
}

.pomo-text-color-light {
    color: #A7ADC6;
}
/*============================================================================*/


/* FONT MODIFIERS */
/*============================================================================*/
.pomo-font-weight-bold {
    font-weight: bold;
}
/*============================================================================*/


/* BOOTSTRAP OVERRIDES */
/*============================================================================*/
.navbar .btn:focus, .btn:active {
    color: #8797AF;
    box-shadow: none !important;
    text-decoration: underline;
}

#pomo-timer-toggle-button {
    box-shadow: none !important;
    text-decoration: none;
}

.pomo-btn-expand-width {
    width: 290px !important;
}

.pomo-btn-expand-width:hover {
    color: #A7ADC6 !important;
}

.navbar-nav li .dropdown-menu { 
    background-color: #5F4B66;
}

.navbar-nav li .dropdown-menu .btn:hover { 
    background-color: #8797AF;
}

.navbar .dropdown-toggle::after { 
    color: #2C1320; 
}
/*============================================================================*/

/* SIGNING IN AND OUT */
/*============================================================================*/
.modal-preauth {
    display: block;
}

.modal-postauth {
    display: none;
}

input {
    display: block;
    margin: 8px 0;
    padding: 8px 2px;
    border-width: 0 0 2px 0;
    width: 100%;
}
/*============================================================================*/


/* STYLE BY ID's / CLASSES */
/*============================================================================*/
.pomo-nav-logo {
    filter: drop-shadow(2px 2px 1px #2C1320);
}

#pomo-timer {
    position: fixed;
    bottom: 0;
    right: 5%;
    max-width: 300px;
    border-left: #2C1320;
    border-top: #2C1320;
    border-right: #2C1320;
    border-width: 3px;
    border-bottom-width: 0;
    border-style: ridge;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#play-controls {
    margin: auto;
}

.player {
    flex: 1;
    filter: drop-shadow(2px 2px 1px #2C1320);
}

.player .btn:active {
    padding-top: 2px;
}

#timer-make-setting-default-button {
    margin: 15px 0 0 15px;
    filter: drop-shadow(1px 1px 2px #2C1320);
}

#timer-minutes-display, #timer-seconds-display {
    margin: 10px 5px 0 5px; 
    background-color: white; 
    flex: 1;

    border-style: solid;
    border-width: 2px;
    border-top-width: 3px;
    border-color: #2C1320;
    border-bottom-style: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-left: 5px;
    font-weight: bold;
    color:#A7ADC6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2C1320;
    filter: drop-shadow(1px 1px 1px #2C1320);
    font-family: 'Press Start 2P', cursive;
}

.timer-hint {
    border-width: 2px;
    border-color: #2C1320;
    border-top-style: none;
    border-style: solid;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin: 0 5px 0 5px; 
    flex: 1;
    text-align: center;
    filter: drop-shadow(1px 1px 1px #2C1320);
    font-weight: 700;
}

.timer-modes {
    margin: 5px 5px 0 5px; 
    flex: 1;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    font-size: large;
    font-weight: 700;
    color:#2C1320;
}

#timer-interval-settings-sliders {
    margin: -15px 5px 0 5px;
}

.pomo-thumb::-webkit-slider-thumb {
    background: #8797AF;
    width: 60px;
    height: 30px;
    margin-top: -11px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #2C1320;
    outline: none !important;
    box-shadow: none !important;
}
  
.pomo-thumb::-moz-range-thumb {
    background: #8797AF;
    width: 60px;
    height: 40px;
    margin-top: -15px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #2C1320;
}
  
.pomo-thumb::-ms-thumb {
    background: #8797AF;
    width: 60px;
    height: 40px;
    margin-top: -15px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #2C1320;
}

.thumb-0-text {
    position: absolute;
    font-size: 18px;
    top: 56%;
    pointer-events: none;
    color:#2C1320;
}

.thumb-1-text {
    position: absolute;
    font-size: 18px;
    top: 70.6%;
    pointer-events: none;
    color:#2C1320;
}
/*============================================================================*/

/* STYLE FOR FLASHCARDS */
/*============================================================================*/
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
}

.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* For Safari */
    backface-visibility: hidden;

}

.flip-card-front{
    background-color: #5F4B66;
    color: #2C1320;
}

.flip-card-back{
    background-color: #5F4B66;
    color: #2C1320;
    transform: rotateY(180deg);
}

.card-text{
    text-align: center;
    color: #A7ADC6;
}

.answer-text{
    width: fit-content;
    margin-bottom: 1em;
}

/*============================================================================*/

/* STYLE FOR STUDYING FLASHCARD */
/*============================================================================*/
.study-flashcard-view{
    background-color: #2C1320;
    width: 800px;
    height: 550px;
    perspective: 1000px;
    position: absolute; /* or absolute */
    top: 50%;
    left: 50%;
    padding: 3%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }