/* CUSTOM BACKGROUND COLORS */
/*============================================================================*/
.pomo-bg-color-dark {
    background-color: #2C1320;
}

.pomo-bg-color-md-dark {
    background-color: #5F4B66;
}

.pomo-bg-color-md {
    background-color: #56667A;
}

.pomo-bg-color-md-light {
    background-color: #8797AF;
}

.pomo-bg-color-light {
    background-color: #A7ADC6;
}
/*============================================================================*/


/* CUSTOM TEXT COLORS */
/*============================================================================*/
.pomo-text-color-dark {
    color: #2C1320;
}

.pomo-text-color-md {
    color: #56667A;
}

.pomo-text-color-light {
    color: #A7ADC6;
}
/*============================================================================*/


/* FONT MODIFIERS */
/*============================================================================*/
.pomo-font-weight-bold {
    font-weight: bold;
}
/*============================================================================*/


/* BOOTSTRAP OVERRIDES */
/*============================================================================*/
.navbar .btn:focus, .btn:active {
    color: #8797AF;
    box-shadow: none !important;
    text-decoration: underline;
}

#pomo-timer-toggle-button {
    box-shadow: none !important;
    text-decoration: none;
}

.pomo-btn-expand-width {
    width: 290px !important;
}

.pomo-btn-expand-width:hover {
    color: #A7ADC6 !important;
}
/*============================================================================*/

/* SIGNING IN AND OUT */
/*============================================================================*/
.modal-preauth {
    display: block;
}

.modal-postauth {
    display: none;
}

input {
    display: block;
    margin: 8px 0;
    padding: 8px 2px;
    border-width: 0 0 2px 0;
    width: 100%;
}
/*============================================================================*/


/* STYLE BY ID's */
/*============================================================================*/
#pomo-timer {
    position: absolute;
    bottom: 0;
    right: 5%;
    max-width: 300px;
    border-left: #2C1320;
    border-top: #2C1320;
    border-right: #2C1320;
    border-width: 3px;
    border-bottom-width: 0;
    border-style:ridge;
}

#play-controls {
    margin: auto;
}

.player {
    flex: 1;
    filter: drop-shadow(2px 2px 1px #2C1320);
}

.player .btn:active {
    padding-top: 2px;
}

#timer-minutes-display, #timer-seconds-display {
    margin: 10px 5px 0 5px; 
    background-color: white; 
    flex: 1;

    border-style: solid;
    border-width: 2px;
    border-top-width: 3px;
    border-color: #2C1320;
    border-bottom-style: none;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    padding-left: 5px;
    font-weight: bold;
    color:#A7ADC6;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2C1320;
    filter: drop-shadow(1px 1px 1px #2C1320);
    font-family: 'Press Start 2P', cursive;
}

.timer-hint {
    border-width: 2px;
    border-color: #2C1320;
    border-top-style: none;
    border-style: solid;
    margin: 0 5px 0 5px; 
    flex: 1;
    text-align: center;
    filter: drop-shadow(1px 1px 1px #2C1320);
    font-weight: 700;
}

.timer-modes {
    margin: 5px 5px 0 5px; 
    flex: 1;
    text-align: center;
    background-color: white;
    font-size: large;
    font-weight: 700;
    color:#2C1320;
}

#timer-interval-settings-sliders {
    margin: 0 5px 0 5px;
}


/* The following utilizes code taken from ------------------------------------*/
/* https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/  */
/* to create customized range sliders for the pomodoro timer component ------ */
#timer-interval-settings-sliders input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}

#timer-interval-settings-sliders input[type=range]:focus {
    outline: none;
}

#timer-interval-settings-sliders input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

#timer-interval-settings-sliders input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

#timer-interval-settings-sliders input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

#timer-interval-settings-sliders input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
 
#timer-interval-settings-sliders input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

#timer-interval-settings-sliders input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

#timer-interval-settings-sliders input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#timer-interval-settings-sliders input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

#timer-interval-settings-sliders input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

#timer-interval-settings-sliders input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}

#timer-interval-settings-sliders input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}
/* -------------------------------------------------------------------------- */
/*============================================================================*/
